body, html {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav flex-column {
    width: 200px;
    display: block;
    padding: 12px;
}

.logo {
    display:inline-block;
    padding-left: 20px;
    padding-top: 13px;
    width: 100%;
    height: 145px;
    margin-left: 40%;
}
.body {
    text-align: center;
}
.hero-image {
    background-attachment: scroll;
    padding: 20px;  
   
}

.hero-text {
  background-image: url(./img/coffee1.png);
  bottom: 20px;
  right: 20px;
  background-color:white ();
  color: black;
  opacity: 75%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  position: absolute;
  
}

.menu-section {
 text-align: center;
 color: black;
 background: #B1C4B7;
 padding: 20px;
 text-align: center;
 font-size: 26px;

}

.menu-items {
    flex-direction: column;
}

.container container-lg footer {
    background-color:#B1C4B7 ;

}