html,
body {
    margin: 0;
    display: block;
    color: #212529;
    background-color: #fff;
    scroll-behavior: smooth;
}

::before,
::after {
    box-sizing: border-box;
}

/* Header Nav Styling */
.navBackground {
    background-image: url(../img/metropolis-logo-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    height: 460px;
    font-size: 25px;

    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navBackground a {
    font-weight: 300;
    color: #000;
}

.navBackground a:hover {
    text-decoration: underline;
    text-decoration-color: #A9714C;
    color: #000;

}

.main-logo {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 50px;
}

.hero-body {
  position: relative;
  text-align: center;
  color: white;
}

.hero-body img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    height: 840px;
    width: 100%;
}

.hero-text h1 {
    font-size: 36px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 24px;
    font-weight: 300;
    background-color:white;
    opacity: 75%;
    color: black;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    height: 700px;
    width: 900px;
}

.hero-text h1 {
    font-size: 36px;
    font-weight: 700;
}

.menu-section {
    text-align: center;
    color: black;
    background-color: rgb(177, 196, 183, 0.1);
    box-shadow: 0px 4px 5px 0px rgb(0, 0, 0, .3);
    padding: 20px;
    margin: 40px;
}

.big-fonts {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom:30px;
}

/*
.first-column {
  padding: 20px;
}

.second-column {
    padding: 20px;
}

.menu-items {
    column-count: 2;
    column-gap: 40px;
    column-rule-style: solid;
}

.menu-items p {
     font-size: 18px;

}
*/

.first-column {
    border-right: 3px solid #000;
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.first-column {
    padding: 20px;
  }
  
.second-column {
    padding: 20px;
}

.menu-food,
.menu-revolution  {
    padding: 20px;
    margin: 20px;
}

.our-coffee {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1200px;
    margin: 40px;
}

.our-coffee-title {
    font-size: 34px;
    color: white;
    text-align: center;
}

.our-coffee-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #A9714C;
    height: 600px;
    width: 50%;
}

.our-coffee-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: 300;

    padding: 20px;
    background-color: rgb(255, 255, 255, 0.6);
    height: 400px;
    width: 500px;
    max-width: 500px;
}

.our-coffee-image {
    display: flex;
    justify-content: flex-start;
}

.our-coffee-image img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 50%;
    
}

.shop-btn {
    display: flex;
    align-self: center;
    font-family: 'open-sans', sans-serif;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #2A402C;
    background-color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px rgb(0, 0, 0, .3);
    padding: 8px 50px;
}

.shop-btn:hover {
    background-color: #B1C4B7;
    color: #2A402C;
    border: 1px solid #B1C4B7;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #B1C4B7;
    
    height: 200px;
    max-width: 100%;
    font-size: 24px;
}

.footer-logo img {
    width: 150px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-self: center;
}

.footer-nav {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: whitesmoke;
}

@media only screen and (max-width: 864px) {
    .hero-body img {
        height: 800px;
        max-width: 100%;
    }

    .hero-text {
        font-size: 20px;
        width: 700px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .navBackground {
        margin-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
    }

    .navBackground > .nav-link {
        display: flex;
        flex-direction: row;
    }

    .flex-column {
        flex-direction: row!important;
    }

    .hero-body img {
        height: 740px;
        max-width: 100%;
    }

    .hero-text {
        font-size: 20px;
        width: 500px;
        max-width: 100%;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
    }

    .first-column {
        border-right: none;
    }
}

@media only screen and (max-width: 480px) {
    .navBackground {
        margin-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
    }

    .navBackground > .nav-link {
        display: flex;
        flex-direction: row;
    }

    .flex-column {
        flex-direction: row!important;
    }
    .hero-body img {
        height: 740px;
        max-width: 100%;
    }
    .hero-text {
        font-size: 16px;
        max-width: 90%;
    }
    .menu-items {
        display: flex;
        flex-direction: column;
    }

    .first-column {
        border-right: none;
    }

    .footer {
        font-size: 18px;
    }

    .footer-logo img {
        width: 125px;
    }

    .nav {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}