body {
    font-family: 'Open Sans', sans-serif;
}

.navBackground {
    background-image: url(../img/metropolis-logo-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    height: 460px;
    font-size: 25px;

    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navBackground a {
    font-weight: 300;
    color: #000;
}

.navBackground a:hover {
    text-decoration: underline;
    text-decoration-color: #A9714C;
    color: #000;

}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/coffee-beans.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 840px;
    max-width: 100%;
}

.landingInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    margin: 0 auto;
    padding: 75px;
    background-color: rgb(255, 255, 255, 0.8);
    height: 700px;
    width: 1200px;
    max-width: 75%;
}

.landingInner h1 {
    font-size: 36px;
    font-weight: 700;
}

.landingInner p {
    font-size: 24px;
    font-weight: 300;
}

.location {
    display: flex;
    justify-content: space-evenly;
    height: 900px;
}

.card {
    border: none;
}

.header-style {
    color: #2A402C;
    font-weight: 700;
}

.location-placement {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured {
    display: flex;
    align-items: center;
    height: 1200px;
}

.featured-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.featured-placement {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured-copy {
    display: flex;
    flex-direction: column;

    padding: 40px;
    margin: 10px;
}

.featured p {
    font-size: 24px;
    font-weight: 300;
}

.shop-online-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1200px;
}

.shop-online-stack p {
    font-size: 22px;
    font-weight: 300;
}

.shop-online-stack h1 {
    color: white;
}

.shop-img-top {
    background-image: url(../img/coffee-cup.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 50%;
}

.shop-img-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #A9714C;
    height: 600px;
    width: 50%;
}

.shop-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    background-color: rgb(255, 255, 255, 0.6);
    height: 400px;
    width: 500px;
    max-width: 500px;
}

.shop-btn {
    display: flex;
    align-self: center;
    font-family: 'open-sans', sans-serif;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #2A402C;
    background-color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px rgb(0, 0, 0, .3);
    padding: 8px 50px;
}

.shop-btn:hover {
    background-color: #B1C4B7;
    color: #2A402C;
    border: 1px solid #B1C4B7;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #B1C4B7;
    
    height: 200px;
    max-width: 100%;
    font-size: 24px;
}

.footer-logo img {
    width: 150px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-self: center;
}

.footer-nav {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.footer a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.footer a:hover {
    color: whitesmoke;
}